/*HTML*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&family=Shrikhand&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.bg-grey {
    background-color: #eaeaea;
}

.bg-lightgrey {
    background-color: #f6f6f6;
}

h1 {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 3.5em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

.w-50 {
    width: 25%;
}


/*Loading spinner*/

.preload {
    background-color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
}

.ls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ls::after {
    content: "";
    width: 100px;
    height: 100px;
    border: 10px solid transparent;
    border-top-color: purple;
    border-bottom-color: purple;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: ls 1.5s ease infinite;
}

@keyframes ls {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.hide {
    animation: hide 1s ease-in 2s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}


/*Header*/

header div {
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
}


/*Main*/


/*Localisation*/

.localisation {
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
    opacity: 85%;
}

.localisation h3 {
    font-weight: 400;
    font-size: 1.5em;
    margin: 0;
}

.localisation span {
    margin-right: 1vw;
}


/*Main Nav*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    padding-bottom: 10vh;
    text-align: center;
}

.hero p {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 5vh;
}

.CTA-explore {
    margin: auto;
    align-items: center;
    background-image: linear-gradient(180deg, #FF79DA, #9356DC);
    border: 0;
    border-radius: 50px 50px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.CTA-explore:active,
.CTA-explore:hover {
    outline: 0;
}


/*Fonctionnement*/

.fonctionnement {
    width: 90%;
    margin: auto;
    padding: 1.5em 0;
}

.fonctionnement-item {
    margin-bottom: 6vh;
    margin-top: 4vh;
    padding: 5vh;
    padding-left: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 45px 45px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fonctionnement p {
    font-size: 2em;
    padding-left: 10%;
}

.fonctionnement-item:hover {
    background-color: #f5edff;
}


/*Restaurants*/

.restaurant {
    width: 90%;
    margin: auto;
    padding: 1.5em 0;
    padding-bottom: 10vh;
}

.restaurant-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.restaurant-card {
    width: 45%;
    margin-bottom: 3vh;
    margin-top: 5vh;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.restaurant-card img {
    height: 45vh;
    width: 100%;
    object-fit: cover;
}

.lower-card {
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}

.lower-card h3 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 0.5em;
}

.lower-card p {
    font-size: 1.15em;
    margin: 0;
}


/*Footer*/

footer {
    background-color: #353535;
    padding: 3vh 2vw;
}

footer ul {
    margin: 0;
    padding: 0;
    margin-top: 2em;
}

footer li {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    margin-bottom: 2vh;
}

footer p {
    margin: 0;
    font-size: 1.25em;
    color: white;
}

footer span {
    color: white;
}

.bold {
    margin-left: 0.25vw;
    font-weight: 700;
}


/*Page Menu*/


/*header*/

.head-menu {
    display: flex;
    align-items: center;
}

.head-menu img {
    margin-right: 25%;
}

.back-btn {
    color: black;
    padding-right: 25%;
}


/*Menu*/

.display {
    position: relative;
    z-index: 10;
    padding: 2%;
    border-radius: 3em 3em;
}

.car-bg-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    overflow: hidden;
    margin-bottom: -5vh;
}

.car-bg-image img {
    max-width: 100%;
}

.card-menu {
    width: 90%;
    margin: auto;
}

.card-menu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}

.card-menu-head h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 3em;
}

.card-menu-cat {
    margin-bottom: 5vh;
}

.card-menu-cat h3 {
    font-weight: 200;
    text-transform: capitalize;
    font-size: 2.5em;
    margin-bottom: 1vh;
}

.card-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-menu-item h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1vh;
    font-size: 2em;
}

.card-menu-item p {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 300;
}

.card-menu-item {
    display: flex;
    background-color: white;
    border-radius: 15px 15px;
    margin-bottom: 2vh;
}

.card-menu-detail {
    padding: 1em;
    width: 100%;
}

.underline {
    background-color: green;
    width: 5%;
    height: 3px;
    margin-bottom: 2vh;
}

.fade-in {
    animation: 2s fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}


/*Like button*/

.likeheart {
    margin-right: 20px;
    font-size: 30px;
    background-size: auto;
    /* c'est ce qui fait que le dégradé évolue */
    -webkit-background-clip: text;
    /*rognage au text */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.likeheart:hover::before {
    animation: like 1s ease;
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
    background-size: auto;
    background-repeat: no-repeat;
    /* c'est ce qui fait que le dégradé évolue */
    -webkit-background-clip: text;
    /*rognage au text */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    -webkit-animation: like 1s ease;
}

@keyframes like {
    0% {
        background-size: 100% 0%;
    }
    100% {
        color: black;
        background-size: 100% 100%;
    }
}


/*Checkbox Animation*/

.checkbox {
    visibility: hidden;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    border-radius: 0px 15px 15px 0px;
}

.checkbox span {
    color: white;
    font-size: 4em;
}

.card-menu-item:hover .checkbox {
    animation: 1s check forwards;
}

@keyframes check {
    0% {
        visibility: hidden;
        width: 0%;
    }
    100% {
        visibility: visible;
        width: 20%;
    }
}

.card-menu-item:hover .material-symbols-outlined {
    animation: 1s check-rotate forwards;
}

@keyframes check-rotate {
    from {
        opacity: 0;
        visibility: hidden;
        transform: rotate(0turn);
    }
    to {
        opacity: 1;
        visibility: visibile;
        transform: rotate(-1turn);
    }
}